In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv= "2017.csv"

In [3]:
happiness=pd.read_csv(csv)

In [4]:
happiness.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Afghanistan,141,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801
1,Albania,109,4.644,4.752464,4.535536,0.996193,0.803685,0.731160,0.381499,0.201313,0.039864,1.490442
2,Algeria,53,5.872,5.978286,5.765714,1.091864,1.146217,0.617585,0.233336,0.069437,0.146096,2.567604
3,Angola,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
4,Argentina,24,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005

In [5]:
happiness_2 = happiness[["Country", "Happiness.Rank", "Economy..GDP.per.Capita.", "Freedom"]]

In [6]:
happiness_3 = happiness_2.rename(columns={"Country":"country","Happiness.Rank":"happiness_rank",\
                                          "Economy..GDP.per.Capita.":"gdp_per_capita",\
                                         "Freedom":"freedom"})

In [7]:
happiness_3['country'] = happiness_3['country'].str.replace(" ","")
happiness_3

                    country  happiness_rank  gdp_per_capita   freedom
0               Afghanistan             141        0.401477  0.106180
1                   Albania             109        0.996193  0.381499
2                   Algeria              53        1.091864  0.233336
3                    Angola             140        0.858428  0.000000
4                 Argentina              24        1.185295  0.494519
5                   Armenia             121        0.900597  0.198303
6                 Australia              10        1.484415  0.601607
7                   Austria              13        1.487097  0.567766
8                Azerbaijan              85        1.153602  0.398156
9                   Bahrain              41        1.488412  0.536747
10               Bangladesh             110        0.586683  0.478357
11                  Belarus              67        1.156558  0.295400
12                  Belgium              17        1.463781  0.539771
13                   Belize              50        0.907975  0.547509
14                    Benin             143        0.431085  0.425963
15                   Bhutan              97        0.885416  0.501538
16                  Bolivia              58        0.833757  0.558733
17     BosniaandHerzegovina              90        0.982409  0.204403
18                 Botswana             142        1.122094  0.505196
19                   Brazil              22        1.107353  0.437454
20                 Bulgaria             105        1.161459  0.289232
21              BurkinaFaso             134        0.350228  0.324368
22                  Burundi             154        0.091623  0.059901
23                 Cambodia             129        0.601765  0.633376
24                 Cameroon             107        0.564305  0.430389
25                   Canada               7        1.479204  0.611101
26   CentralAfricanRepublic             155        0.000000  0.270842
27                     Chad             137        0.438013  0.162342
28                    Chile              20        1.252785  0.376895
29                    China              79        1.081166  0.472788
..                      ...             ...             ...       ...
125             SouthAfrica             101        1.054699  0.479247
126            Korea(South)              55        1.401678  0.257922
127              SouthSudan             147        0.397249  0.147062
128                   Spain              34        1.384398  0.408781
129                SriLanka             120        1.009850  0.561213
130                   Sudan             130        0.659517  0.014996
131                  Sweden               9        1.494387  0.612924
132             Switzerland               4        1.564980  0.620071
133                   Syria             152        0.777153  0.081539
134  Taiwan,RepublicofChina              33        1.433627  0.361467
135              Tajikistan              96        0.524714  0.471567
136                Tanzania             153        0.511136  0.390018
137                Thailand              32        1.127869  0.580201
138                    Togo             150        0.305445  0.380426
139       TrinidadandTobago              38        1.361356  0.518631
140                 Tunisia             102        1.007266  0.289681
141                  Turkey              69        1.198274  0.300741
142            Turkmenistan              59        1.130777  0.418272
143                  Uganda             133        0.381431  0.443186
144                 Ukraine             132        0.894652  0.122975
145      UnitedArabEmirates              21        1.626343  0.608345
146           UnitedKingdom              19        1.441634  0.508190
147   UnitedStatesofAmerica              14        1.546259  0.505741
148                 Uruguay              28        1.217560  0.579392
149              Uzbekistan              47        0.786441  0.658249
150               Venezuela              82        1.128431  0.153997
151                 VietNam              94        0.788548  0.571056
152                   Yemen             146        0.591683  0.249464
153                  Zambia             116        0.636407  0.461603
154                Zimbabwe             138        0.375847  0.336384

[155 rows x 4 columns]

In [8]:
csv2="directory.csv"

In [9]:
directory=pd.read_csv(csv2)

In [10]:
new_directory = directory[directory.Brand == 'Starbucks']

In [11]:
new_directory2 = new_directory[['Brand','Country']]

In [12]:
new_directory3=new_directory2.groupby('Country').count()

In [13]:
cleaned_directory=new_directory3.rename(columns={'Brand':"amount_of_stores"})

In [14]:
csv3='country_code.csv'

In [15]:
country_code=pd.read_csv(csv3)

In [16]:
country_code=country_code.drop(columns=['Unnamed: 0', 'code_3digit'])

In [17]:
country_code=country_code.rename(columns={"Country_name": "Country"})

In [18]:
merged_directory=cleaned_directory.merge(country_code, left_on='Country', right_on='code_2digit')

In [19]:
clean_merged_directory=merged_directory.drop(columns='code_2digit')

In [20]:
clean_merged_directory=clean_merged_directory[['Country', 'amount_of_stores']]

In [21]:
clean_merged_directory['Country'] = clean_merged_directory['Country'].str.replace(" ","")

In [22]:
clean_merged_directory.head()

              Country  amount_of_stores
0             Andorra                 1
1  UnitedArabEmirates               144
2           Argentina               108
3             Austria                18
4           Australia                22

In [23]:
exports_csv=clean_merged_directory.to_csv('clean_merged_directory.csv', index=False)

In [24]:
csv4='country_profile_var_colHeadFxd.csv'

In [25]:
country_profile = pd.read_csv(csv4)

In [26]:
country_profile['Country'] = country_profile['Country'].str.replace(" ","")

In [27]:
rds_connection_string = "postgres:postgres@localhost:5432/SuperUberDuberProject"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [28]:
engine.table_names()

[]

In [29]:
clean_merged_directory.to_sql(name='store_directory',if_exists='append', con=engine, index=False)

In [30]:
happiness_3.to_sql(name='happiness', con=engine, if_exists='append', index=False)

In [31]:
country_profile.to_sql(name='country_profile', con=engine, if_exists='append', index=False)

In [32]:
pd.read_sql_query('select * from happiness', con=engine).head()

       country  happiness_rank  gdp_per_capita   freedom
0  Afghanistan             141        0.401477  0.106180
1      Albania             109        0.996193  0.381499
2      Algeria              53        1.091864  0.233336
3       Angola             140        0.858428  0.000000
4    Argentina              24        1.185295  0.494519